this is a copy of that one the Barathi sent me on google collab.

In [25]:
import pandas as pd
import numpy as np

data_file="Inclusive_Exclusive race sentences - Sheet1.csv"

exclusive_column = "Exclusive"
inclusive_column = "Inclusive"

data = pd.read_csv(data_file)
data_exc = pd.DataFrame(data[exclusive_column])
data_inc = pd.DataFrame(data[inclusive_column])

data_exc_labeled = data_exc
data_exc_labeled['inc'] = '0'
data_exc_labeled.rename(columns={exclusive_column:'text'}, inplace = True)

data_inc_labeled = data_inc
data_inc_labeled['inc'] = '1'
data_inc_labeled.rename(columns={inclusive_column:'text'}, inplace = True)

data_both = pd.concat([data_exc_labeled, data_inc_labeled])

print(data_both.shape)

(54, 2)

In [27]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer(max_features=1000)
vectors = vectorizer.fit_transform(data_both.text)
words_df = pd.DataFrame(vectors.toarray(), columns=vectorizer.get_feature_names())
words_df.head()

/home/blake/.local/lib/python3.10/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,able,achieve,affect,africa,african,all,always,american,americans,and,...,welcomed,welfare,what,where,white,with,working,worse,you,your
0,0.388024,0.0,0.0,0.0,0.234697,0.0,0.0,0.000000,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
1,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
2,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,...,0.439151,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
3,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.385843,0.0,0.0,0.0,0.0
4,0.000000,0.0,0.0,0.0,0.315558,0.0,0.0,0.410906,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0

In [30]:
X = words_df
y = data_both.inc

In [ ]:
from sklearn.ensemble import RandomForestClassifier